---
import Layout from "../layouts/Layout.astro";
return Astro.redirect("/");
---

<Layout title="404 Not Found">
    <section class="min-h-screen">
        <div class="pt-28 pb-20">
            <h1 class="text-white">404</h1>
        </div>
    </section>
</Layout>
