---
import Card from "../components/Card.astro";
import CardProject from "../components/CardProject.astro";
import StackItem from "../components/StackItem.astro";
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon";
---

<Layout title="Welcome to Astro.">
	<section
		class="max-w-7xl w-5/6 min-h-screen pt-20 flex flex-col items-center justify-center gap-9 m-auto lg:flex-row-reverse lg:justify-evenly"
		id=""
	>
		<img
			src="https://media.licdn.com/dms/image/D5603AQEz4J1zdB9U1A/profile-displayphoto-shrink_400_400/0/1689537265905?e=1695859200&v=beta&t=iKM6IBjxzgdUeD-UAaJFzYoCfyASpyaV9yj6aP8I9sg"
			alt=""
			class="animate-profile border-8 border-purple-600"
		/>
		<div class="text-center lg:text-left">
			<p class="dark:text-gray-100 text-xl md:text-2xl xl:text-3xl">
				Hi, I'm Cesar 👋
			</p>
			<h2
				class="text-2xl scale-110 sm:scale-100 sm:text-3xl font-bold text-transparent bg-clip-text bg-gradient-to-r from-purple-600 to-purple-950 md:text-4xl xl:text-5xl"
			>
				Frontend Developer
			</h2>
			<p class="dark:text-gray-100 text-xl md:text-2xl xl:text-3xl">
				That loves creating web apps.
			</p>
			<div class="flex gap-4 my-3 mt-5">
				<a href="https://linkedin.com/in/phipedev" target="_blank">
					<Icon
						name="ion:logo-linkedin"
						class="w-8 text-white hover:text-purple-700/90 transition ease-out duration-300 inline"
					/>
				</a>
				<a href="https://github.com/PhipeMC" target="_blank">
					<Icon
						name="mdi:github"
						class="w-8 text-white hover:text-purple-700/90 transition ease-out duration-300"
					/>
				</a>
			</div>
			<div class="flex gap-4">
				<a
					href="#"
					class="btn border-2 border-purple-700 rounded-md hover:bg-purple-700/[0.4] flex gap-3 items-center transition ease-out duration-300"
				>
					<p>Resume</p>
					<Icon
						name="bi:file-earmark-pdf-fill"
						class="w-6 text-white text-2xl"
					/>
				</a>
				<a
					href="about"
					class="btn border-2 border-purple-700 bg-purple-700 rounded-md hover:bg-purple-900 hover:border-purple-900 transition ease-out duration-300"
				>
					<div class="flex gap-2 items-center">
						Portfolio
						<Icon
							name="ic:round-keyboard-double-arrow-right"
							class="w-8 animate-arrow"
						/>
					</div>
				</a>
			</div>
		</div>
	</section>
</Layout>
<!-- <style>
	[astro-icon] {
		display: inline;
	}
</style> -->
