---
import { Icon } from "astro-icon";
---

<footer
    class="text-center text-base py-4 border-t border-gray-200 text-gray-600 dark:border-transparent dark:bg-bgDark dark:text-gray-300 bg-footer"
>
    <span>
        Made with ❤️
        <!-- and
        <Icon
            name="vscode-icons:file-type-astro"
            class="w-6 inline-block"
        />  -->

        by
        <a
            href="https://linkedin.com/in/phipedev"
            target="_blank"
            class="underline underline-offset-2">PhipeMC</a
        >
    </span>
</footer>
