<footer
    class="text-center text-base py-4 border-t border-gray-200 text-gray-600 dark:border-transparent dark:bg-bgDark dark:text-gray-300 bg-footer"
>
    <p>
        Made with ❤️ by <a
            href="https://github.com/PhipeMC"
            target="_blank"
            class="underline underline-offset-2">PhipeMC</a
        >
    </p>
</footer>
