---
import { Icon } from "astro-icon";
---

<header
    class="bg-bgLightTransparent transition-colors dark:bg-bgDarkTransparent z-10 h-20 flex items-center justify-center fixed w-full outline outline-1 shadow shadow-gray-300 outline-purple-600 dark:shadow-none dark:outline-primary before:-z-10 before:absolute before:backdrop-blur before:w-full before:h-20"
>
    <div class="flex justify-between max-w-7xl w-5/6">
        <a href="/">
            <h1
                class="select-none font-bold text-2xl text-gray-700 dark:text-white lg:text-3xl lg:scale-95"
            >
                phipe<span class="text-purple-600">.</span>dev
            </h1>
        </a>
        <div class="flex items-center justify-center gap-5 lg:gap-8">
            <nav
                class="hidden fixed top-0 right-0 w-full h-screen gap-10 text-lg backdrop-blur bg-bgLightTransparent dark:bg-bgDarkTransparent lg:h-0 lg:flex lg:static lg:w-auto"
            >
                <ul
                    class="text-center flex flex-col items-center relative justify-center gap-5 text-gray-600 dark:text-gray-300 text-2xl max-w-screen-xl w-5/6 h-screen lg:flex-row lg:h-0 lg:text-lg m-auto whitespace-nowrap"
                >
                    <li>
                        <a
                            href="/"
                            class="hover:text-purple-600 transition ease-out duration-300"
                            >Home</a
                        >
                    </li>
                    <li>
                        <a
                            href="/about"
                            class="hover:text-purple-600 transition ease-out duration-300"
                            >About</a
                        >
                    </li>
                    <li>
                        <a
                            href="/projects"
                            class="hover:text-purple-600 transition ease-out duration-300"
                            >Projects</a
                        >
                    </li>
                    <li>
                        <a
                            href="/contact"
                            class="hover:text-purple-600 transition ease-out duration-300"
                            >Contact</a
                        >
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>

<style>
    [astro-icon] {
        display: inline;
    }
</style>
