---

---

<!-- <header
    class="bg-bgLightTransparent transition-colors dark:bg-bgDarkTransparent z-10 h-20 flex items-center justify-center fixed w-full outline outline-1 shadow shadow-gray-300 outline-purple-600 dark:shadow-none dark:outline-primary before:-z-10 before:absolute before:backdrop-blur before:w-full before:h-20"
>
    <div class="flex justify-between max-w-7xl w-5/6">
        <a href="/">
            <h1
                class="select-none font-bold text-2xl text-gray-700 dark:text-white lg:text-3xl lg:scale-95"
            >
                phipe<span class="text-purple-600">.</span>dev
            </h1>
        </a>
        <div class="flex items-center justify-center gap-5 lg:gap-8">
            <nav
                class="hidden fixed top-0 right-0 w-full h-screen gap-10 text-lg backdrop-blur bg-bgLightTransparent dark:bg-bgDarkTransparent lg:h-0 lg:flex lg:static lg:w-auto"
            >
                <ul
                    class="text-center flex flex-col items-center relative justify-center gap-5 text-gray-600 dark:text-gray-300 text-2xl max-w-screen-xl w-5/6 h-screen lg:flex-row lg:h-0 lg:text-lg m-auto whitespace-nowrap"
                >
                    <li>
                        <a
                            href="/"
                            class="hover:text-purple-600 transition ease-out duration-300"
                            >Home</a
                        >
                    </li>
                    <li>
                        <a
                            href="/about"
                            class="hover:text-purple-600 transition ease-out duration-300"
                            >About</a
                        >
                    </li>
                    <li>
                        <a
                            href="/projects"
                            class="hover:text-purple-600 transition ease-out duration-300"
                            >Projects</a
                        >
                    </li>
                    <li>
                        <a
                            href="/contact"
                            class="hover:text-purple-600 transition ease-out duration-300"
                            >Contact</a
                        >
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header> --><!-- <header
    class="bg-bgLightTransparent h-20 transition-colors dark:bg-bgDarkTransparent flex flex-wrap sm:justify-start sm:flex-nowrap z-50 text-sm py-4 fixed w-full outline outline-1 shadow shadow-gray-300 outline-purple-600 dark:shadow-none dark:outline-primary"
>
    <nav
        class="max-w-[85rem] w-full mx-auto px-4 sm:flex sm:items-center sm:justify-between"
        aria-label="Global"
    >
        <div class="flex items-center justify-between">
            <a href="/">
                <h1
                    class="select-none font-bold text-2xl text-gray-700 dark:text-white lg:text-3xl lg:scale-95"
                >
                    phipe<span class="text-purple-600">.</span>dev
                </h1>
            </a>
            <div class="sm:hidden">
                <button
                    type="button"
                    class="hs-collapse-toggle p-2 inline-flex justify-center items-center gap-2 rounded-md border font-medium bg-white text-gray-700 shadow-sm align-middle hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-white focus:ring-blue-600 transition-all text-sm dark:bg-slate-900 dark:hover:bg-slate-800 dark:border-gray-700 dark:text-gray-400 dark:hover:text-white dark:focus:ring-offset-gray-800"
                    data-hs-collapse="#navbar-collapse-with-animation"
                    aria-controls="navbar-collapse-with-animation"
                    aria-label="Toggle navigation"
                >
                    <svg
                        class="hs-collapse-open:hidden w-4 h-4"
                        width="16"
                        height="16"
                        fill="currentColor"
                        viewBox="0 0 16 16"
                    >
                        <path
                            fill-rule="evenodd"
                            d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
                        ></path>
                    </svg>
                    <svg
                        class="hs-collapse-open:block hidden w-4 h-4"
                        width="16"
                        height="16"
                        fill="currentColor"
                        viewBox="0 0 16 16"
                    >
                        <path
                            d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
                        ></path>
                    </svg>
                </button>
            </div>
        </div>
        <div
            id="navbar-collapse-with-animation"
            class="hs-collapse hidden overflow-hidden transition-all duration-300 basis-full grow sm:block"
        >
            <div
                class="flex flex-col gap-5 mt-5 sm:flex-row sm:items-center sm:justify-end sm:mt-0 sm:pl-5 text-gray-600 dark:text-gray-300"
            >
                <a
                    class="font-medium hover:text-purple-600 transition ease-out duration-300"
                    href="/"
                    aria-current="page">Home</a
                >
                <a
                    class="font-medium hover:text-purple-600 transition ease-out duration-300"
                    href="/about">About</a
                >
                <a
                    class="font-medium hover:text-purple-600 transition ease-out duration-300"
                    href="/projects">Projects</a
                >
                <a
                    class="font-medium hover:text-purple-600 transition ease-out duration-300"
                    href="/contact">Contact</a
                >
            </div>
        </div>
    </nav>
</header> -->
<header
    class="flex flex-wrap sm:justify-start sm:flex-nowrap z-50 w-full bg-white text-sm py-4 dark:bg-gray-800"
>
    <nav
        class="max-w-[85rem] w-full mx-auto px-4 sm:flex sm:items-center sm:justify-between"
        aria-label="Global"
    >
        <div class="flex items-center justify-between">
            <a href="/">
                <h1
                    class="select-none font-bold text-2xl text-gray-700 dark:text-white lg:text-3xl lg:scale-95"
                >
                    phipe<span class="text-purple-600">.</span>dev
                </h1>
            </a>
            <div class="sm:hidden">
                <button
                    type="button"
                    class="hs-collapse-toggle p-2 inline-flex justify-center items-center gap-2 rounded-md border font-medium bg-white text-gray-700 shadow-sm align-middle hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-white focus:ring-blue-600 transition-all text-sm dark:bg-slate-900 dark:hover:bg-slate-800 dark:border-gray-700 dark:text-gray-400 dark:hover:text-white dark:focus:ring-offset-gray-800"
                    data-hs-collapse="#navbar-collapse-with-animation"
                    aria-controls="navbar-collapse-with-animation"
                    aria-label="Toggle navigation"
                >
                    <svg
                        class="hs-collapse-open:hidden w-4 h-4"
                        width="16"
                        height="16"
                        fill="currentColor"
                        viewBox="0 0 16 16"
                    >
                        <path
                            fill-rule="evenodd"
                            d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
                        ></path>
                    </svg>
                    <svg
                        class="hs-collapse-open:block hidden w-4 h-4"
                        width="16"
                        height="16"
                        fill="currentColor"
                        viewBox="0 0 16 16"
                    >
                        <path
                            d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
                        ></path>
                    </svg>
                </button>
            </div>
        </div>
        <div
            id="navbar-collapse-with-animation"
            class="hs-collapse hidden overflow-hidden transition-all duration-300 basis-full grow sm:block"
        >
            <div
                class="flex flex-col gap-5 mt-5 sm:flex-row sm:items-center sm:justify-end sm:mt-0 sm:pl-5 text-gray-600 dark:text-gray-300"
            >
                <a
                    class="font-medium hover:text-purple-600 transition ease-out duration-300"
                    href="/about">About</a
                >
                <a
                    class="font-medium hover:text-purple-600 transition ease-out duration-300"
                    href="/projects">Projects</a
                >
                <a
                    class="font-medium hover:text-purple-600 transition ease-out duration-300"
                    href="/contact">Contact</a
                >
            </div>
        </div>
    </nav>
</header>
