---
import { Image } from "astro:assets";
import Layout from "../../layouts/Layout.astro";
import SQLImage from "../../assets/sql-judge-image.jpg";
---

<Layout title="SQL Judge">
    <section class="min-h-screen pt-28 flex justify-center">
        <article class="p-6 pt-10 max-w-[900px]">
            <div class="prose prose-lg max-w-[750px] prose-img:mx-auto">
                <Image
                    src={SQLImage}
                    alt={"SQLJudge"}
                    class="w-full mb-6"
                    width="750"
                    height="422"
                    transition:name="dental-software-image"
                />
                <h1
                    class="title my-2 text-5xl font-bold"
                    transition:name="dental-software-title"
                >
                    Dental Software
                </h1>
                <time>Jan 6, 2023</time>
                <br />

                <hr class="my-4" />

                <p>
                    Hace unos d칤as sal칤 buscando opiniones sobre que tan
                    beneficioso ser칤a tener una comunidad de desarrolladores
                    cubanos y qu칠 caracter칤sticas deber칤a tener. Luego de
                    mezclar todas las ideas que ten칤a y las que dieron aqu칤, te
                    traigo una propuesta de como podr칤a ser la comunidad y la
                    ejecuci칩n.
                </p>
                <h2 id="propuesta">Propuesta</h2>
                <p>
                    De manera general la idea es que tengamos una web (Algo
                    similar a <a href="https://dev.to">https://dev.to</a> )
                    donde se agrupe toda la informaci칩n y se complemente con un
                    foro (comunidad en Telegram) y una serie de canales de
                    difusi칩n.
                </p>
                <p>La web tendr칤a las siguientes secciones:</p>
                <ul class="list-disc">
                    <li>
                        Feed Principal con publicaciones de posts los miembros
                        de la comunidad divididos por categor칤as.
                    </li>
                    <li>Perfiles para los devs</li>
                    <li>
                        Directorio de los devs para poder filtrarlos, en busca
                        de trabajo, categor칤a, etc. Esto apunta a su perfil
                        donde tienen sus proyectos, servicios, contacto, etc.
                    </li>
                    <li>Ofertas laborales</li>
                    <li>
                        Lista con pr칩ximos Eventos: nacionales, internacionales
                        y de la comunidad.
                    </li>
                    <li>
                        Directorio de Recursos (iconos, frameworks, apps,
                        postings, etc)
                    </li>
                    <li>
                        Directorio de Aplicaciones Cubanas: m칩viles, web y
                        desktop.
                    </li>
                    <li>
                        Directorio de Servicios (Un lugar para que los
                        interesados puedan ver ofertas de dise침adores, creaci칩n
                        de webs, freelancers, formaciones, cursos y mentor칤as
                        impartidos por miembros de la comunidad.)
                    </li>
                    <li>
                        Info / Gu칤as
                        <ul class="list-disc ps-8">
                            <li>
                                Rutas de programaci칩n seg칰n perfiles con
                                v칤nculos a los recursos, etc.
                            </li>
                            <li>
                                Howto, con soluciones probadas por la comunidad
                                cubana.
                            </li>
                            <li>
                                Gu칤as para principiantes (Setups, Softwares,
                                etc..)
                            </li>
                        </ul>
                    </li>
                    <li>Banco de Problemas con debates y votos</li>
                </ul>
                <p>
                    La web se complementar칤a con una comunidad en Telegram que
                    contar칤a con:
                </p>
                <ul>
                    <li>
                        Canal principal donde se publican los nuevos articulos,
                        eventos, lanzamiento de nuevas apps e informaci칩n de la
                        comunidad.
                    </li>
                    <li>Canal dedicado para las ofertas de trabajo.</li>
                    <li>
                        Grupo de debate subdividido por tem치ticas (web, mobile,
                        desktop, ia, blockchain, devops, game, QA)
                    </li>
                    <li>
                        La informaci칩n en los canales se publicar칤a por los
                        miembros a trav칠s de un bot en Telegram y los
                        administradores.
                    </li>
                    <li>
                        El canal de ofertas y el de anuncios podr칤an tener un
                        espejo en Twitter para replicar la informaci칩n ah칤
                        tambi칠n.
                    </li>
                </ul>
                <h2 id="an치lisis">An치lisis</h2>
                <p>
                    En base a todas las caracter칤sticas y opiniones recogidas
                    cree la siguiente matriz DAFO.
                </p>
                <p>
                    <img
                        src="https://user-images.githubusercontent.com/53962116/211059339-20e5ecb8-0778-471c-9f27-dc5034ffb090.png"
                        alt="Dafo"
                    />
                </p>
                <p>
                    Con esto en mente, para intentar que el proyecto logre
                    materializarse y partir de ah칤 tratar de garantizar su
                    persistencia y la informaci칩n que se comparta en el m치s all치
                    de s칤 lo mantenemos nosotros o no, considero que la
                    plataforma debe cumplir con los siguientes criterios:
                </p>
                <ul>
                    <li>
                        La plataforma debe crearse con un costo reducido y
                        utilizar치 un generador de sitios est치ticos para
                        almacenar la informaci칩n en texto plano de forma tal que
                        sea p칰blica.
                    </li>
                    <li>
                        Algunas funcionalidades pueden ser manejadas por
                        servicios de terceros para ahorrar tiempo y esfuerzo.
                    </li>
                    <li>
                        El desarrollo ser치 as칤ncrono y se seguir치n las gu칤as
                        comunes para contribuir en repositorios de c칩digo
                        abierto.
                    </li>
                    <li>
                        Antes de comenzar a trabajar en la plataforma, se deben
                        establecer las l칤neas de desarrollo y un est치ndar para
                        el proyecto.
                    </li>
                </ul>
                <h2 id="implementaci칩n">Implementaci칩n</h2>
                <p>
                    Ya que los usuarios finales de la comunidad son
                    desarrolladores y para hacer el proyecto lo m치s econ칩mico y
                    abierto posible, mi propuesta es crear una p치gina web
                    est치tica con arquitectura de islas generada con Github
                    Actions y utilizar el propio Github como backend. Para los
                    posts se utilizar칤a un formulario en la p치gina web para
                    crear la informaci칩n y enviarla en la creaci칩n de un pull
                    request autom치ticamente. Esto tiene varias ventajas, como
                    obligar a los nuevos usuarios a familiarizarse con Github,
                    permitir que los contribuidores aparezcan en el repositorio,
                    almacenar todas las im치genes y datos en Github, y utilizar
                    la infraestructura gratuita e ilimitada de Github para los
                    build y el sitio. Adem치s, la moderaci칩n del contenido y
                    administraci칩n tambi칠n se llevar칤a a cabo en Github y no
                    ser칤a necesario crear un backend o dashboard para esto. La
                    otra parte de la informaci칩n del usuario se obtendr칤a de la
                    API de Github as칤 como del perfil personal del usuario.
                </p>
                <p>
                    <img
                        src="https://user-images.githubusercontent.com/53962116/211059555-79ef9167-ad32-455f-82bd-a408a15e0281.png"
                        alt="New Project"
                    />
                </p>
                <p>
                    El otro contenido que es m치s din치mico y no est치 pensado para
                    ser creado por desarrolladores como las ofertas de trabajo o
                    los patrocinadores si se almacenar칤a en un peque침o backend
                    fuera de GitHub.
                </p>
                <h3 id="arquitectura">Arquitectura</h3>
                <p>
                    <img
                        src="https://user-images.githubusercontent.com/53962116/211059657-8b6569e1-d784-4320-b5d9-e13d09169df6.png"
                        alt="Arquitectura excalidraw"
                    />
                </p>
                <p>
                    En este caso la p치gina web est치tica que se alimenta de
                    archivos en Github para mostrar el contenido de la
                    comunidad. Los anuncios de trabajo y patrocinios ser치n
                    manejados mediante micro-servicios que pueden ser creados
                    con Airtable o alg칰n backend as a service. Para las llamadas
                    a la API o al bot de Telegram se utilizar치n funciones
                    serverless, que podr칤an desplegarse en Vercel o en Github
                    Page. El bot de Telegram se encargar치 de gestionar los
                    env칤os de ofertas de trabajo desde la p치gina web y la
                    publicaci칩n de eventos y art칤culos en el canal de la
                    comunidad por parte de los miembros. Para enviar el
                    contenido a Twitter, se pueden utilizar servicios de
                    integraci칩n como IFTTT.
                </p>
                <h3 id="stack">Stack</h3>
                <p>
                    Para el desarrollo de la soluci칩n se emplear칤a
                    principalmente JavaScript. Como metaframework para generar
                    la web <a href="https://astro.build/">Astro</a> y la UI se
                    har칤a con <a href="https://tailwindcss.com/">Tailwind</a>.
                </p>
                <h3 id="comunidad">Comunidad</h3>
                <p>
                    Todos los cambios o direcciones que tome este proyecto ser치n
                    validados en gran medida por la comunidad (admins y
                    miembros), esto se har치 desde el

                    <a href="https://t.me/cucoders">canal de telegram</a>
                     mediante votaciones.
                </p>
                <p>
                    Este proyecto ahora mismo no es m치s que una semilla, as칤 que
                    falta mucho por hacer y definir. Si te interesa que el
                    proyecto salga adelante, la manera de apoyarlo es
                    involucr치ndote de la forma en que te sea posible, ya sea con
                    feedback, creando contenido, ayudando con el c칩digo, la
                    moderaci칩n o comparti칠ndoselo a un amigo que le pueda
                    interesar.
                </p>
                <p>
                    Mi intenci칩n es que logremos que esto se mantenga sencillo,
                    que sea una ayuda y no una carga, que tengamos un espacio
                    con mucha buena onda para ayudarnos entre todos y crecer
                    entre todos. Sin m치s te invito a que se pasen por la <a
                        href="https://t.me/CuCodersComunidad/1"
                        >comunidad de Telegram</a
                    > y al <a href="https://t.me/cucoders">canal principal</a>
                     para ir d치ndole forma a esto. Un saludo grande y nos vemos
                    por all치. 游녦
                </p>
            </div>
        </article>
    </section>
</Layout>
