---
import { Image } from "astro:assets";
import Layout from "../../layouts/Layout.astro";
import SQLImage from "../../assets/sql-judge-image.jpg";
---

<Layout title="SQL Judge">
    <section class="min-h-screen flex justify-center">
        <article class="p-6 pt-10 max-w-4xl w-full">
            <div class="w-full">
                <Image
                    src={SQLImage}
                    alt={"SQLJudge"}
                    class="w-full mb-6"
                    width="750"
                    height="422"
                    transition:name="sql-judge-image"
                />
            </div>
            <div>
                <h1
                    class="title my-2 text-5xl font-bold"
                    transition:name="sql-judge-title"
                >
                    SQL Judge
                </h1>
                <time>Fecha</time>
                <br />

                <hr class="my-4" />

                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Corporis tenetur, error maiores dignissimos laborum
                    laboriosam voluptates nostrum facilis quibusdam fugit
                    similique exercitationem mollitia, quam dolorem
                    reprehenderit obcaecati eaque culpa. Molestias.
                </p>
                <h2 id="propuesta">Titulo h2</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Labore placeat magnam, quo, repudiandae officiis ipsum
                    architecto suscipit dolorem ea impedit nemo delectus harum,
                    accusantium ex optio soluta illo nostrum id?
                </p>
                <ul class="list-disc ps-5">
                    <li>Something</li>
                    <li>Something</li>
                    <li>Something</li>
                    <li>Something</li>
                    <li>Something</li>
                    <li>Something</li>
                    <li>Something</li>
                </ul>
            </div>
            <div class="flex"></div>
            <!-- <img
                            alt="CuCoders | Propuesta inicial para una Comunidad de Desarrolladores Cubanos"
                            class="w-full mb-6"
                            width="750"
                            height="422"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQnm4H0znjfI_Ka_h-ZSNuoBSwZHqqTeP63hNBBfYVzZkam7lazW6-2cZYoQkLLC2GXvw8&usqp=CAU"
                            loading="lazy"
                            decoding="async"
                            transition:name="sql-judge-image"
                        /> -->
        </article>
    </section>
</Layout>
